{% extends 'ufeed/base.html' %}

{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
    <div class="container">
    <div style="vertical-align: middle">
        <form method="POST" class="post-form">{% csrf_token %}
    <!--<form method="POST" class="post-form form-control">{% csrf_token %}-->
            {{form.as_p}}
            <div style="text-align: right">
            <button type="submit" class="save btn btn-primary">등록</button>
            </div>
        </form>
    </div>
    </div>
    </div>
  </div>
{% endblock %}